@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    font-family: 'Inter' , sans-serif;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

p {
    color: #301E67;
}

header {
    display: inline;
}

.biodata {
    background-color: #18122B;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #5B8FB9;
}

header nav {
    padding: 10px;
    margin: 0;
    
}

nav {
    background-color: #443C68;
    padding: 10px;
    position: sticky;
    top: 0;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #5B8FB9;
    padding: 10px;
    border-radius: 999px;
    transition: all .2s ease-in-out;

}

nav a:hover {
    background-color: #18122B;
    color: #B6EADA;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 10rem;
}

nav li {

    list-style-type: none;
}


.content {
    float: right;
    width: 75%;
}

main {
    padding: 20px;
    overflow: auto;
    background-color: #301E67;
}

main .content {
    padding: 0rem 2rem;
    color: #301E67;
}

.content article {
    text-align: center;
}

.content article li {
    padding-right: 3rem;
    list-style-type: none;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #18122B;
}

footer p {
    color: #5B8FB9;
}

aside {
    float: left;
    width: 25%;
}

aside p {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #5B8FB9;
}

aside img {
    width: 250px;
    margin: 12px;
    box-shadow: 1px 3px 9px 3px #FF0303;
    border-radius: 20px;
}

main aside .social-media {
    padding: 1.5rem 1rem;
    margin: auto;
    border-radius: 10px;
    background-color: #301E67;
   
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

main aside .social-media li {
    list-style-type: none;
}

main aside .social-media ul {
    padding-inline: 4rem;
    display: flex;
    gap: 2rem; 
    padding-left: 4rem;
}

main aside .social-media li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #5B8FB9;
    transition: all .1s ease-in-out;
}

main aside .social-media li a:hover {
    color: white;
}

.card {
    box-shadow: 0 3px 9px 3px #FF0303;
    border-radius: 10px;
    padding: 10px;
    margin: 15px; 
    background-color: #B6EADA; 
}

h2 {
    color: #5B8FB9;
    text-align: center;
}

.card:hover {
    background-color: #F9DBBB;
}

@media screen and (max-width: 1200px) {
    main {
        flex-flow: column nowrap;
    }

    header nav {
        flex-direction: column;
    }
    
    header nav ul {
        flex-wrap: wrap;
        column-gap: .5rem;
    }

    main {
        padding: 1rem 3rem;
    }

    main .content {
        flex-direction: column;
        gap: 2rem;
    }

    main .content .biodata p {
        font-size: 1rem;
    }

    main aside {
        align-self: center;
    }

    main aside article img {
        flex-wrap: wrap;
        column-gap: .5rem;
        order: -1;
    }
}
@media screen and (max-width: 768px) {}